.container_form {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container_form .MuiSelect-outlined.MuiSelect-outlined {
    min-width: 346px;
}

.container_form .MuiOutlinedInput-root {
    height: 55.98px;
}

.container_form .MuiFormControl-root {
    width: 391.97px;
}

.container_form .MuiButton-containedPrimary {
    padding: 6px 63px;
    margin: 10px;
}

input[type="text"], input[type="email"], input[type="password"], select, input[type="submit"] {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}